{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    img {
  max-width: 100%;
  max-height: 100%;
 }
 .aside {
  height: 100px;
  width: 100px;
 }

 .login100-form-btn:hover {
     color: white !important;
 }
</style>

	</head>
	<body>
	
	
	<div id="fh5co-page">


	<div class="fh5co-page-title" style="background-image: url(images/slide_6.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 animate-box">
                    <!-- Page heading -->
					<h1><span class="colored">Home</span> Loan</h1>
				</div>
			</div>
		</div>
	</div>
	<div id="best-deal">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading black animate-box" data-animate-effect="fadeIn">
					<h2>Explore Bank Loans</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
				</div>

                <section class="section-content padding-y bg">
                    <div class="container">
                    
                    <!-- ============================ COMPONENT 1 ================================= -->
                    
                    <div class="row">
                    <div class="card">
                    <table class="table table-borderless table-shopping-cart">
                    <thead class="text-muted">
                    <tr class="small text-uppercase">
                      <th scope="col" width="120">Image</th>
                      <th scope="col" width="250">Bank Name</th>
                      <th scope="col" width="220">Phone Number</th>
                      <th scope="col" width="100">Rate</th>
                      <th scope="col" width="120">Time</th>
                      <th scope="col" class="text-right" width="200"> Calculate BMI</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for Bank in homeloan %}
                    <tr>
                        <td>
                            <figure class="itemside align-items-center">
                                <div class="aside"><img src="{{Bank.Bank_image.url}}" class="img-rounded"></div>
                                
                            </figure>
                        </td>
                        <td>
                            <figcaption class="info">
                                <a href="#" class="title text-dark"></a> {{Bank.Bank_name}}</a>
                                <!-- <p class="text-muted small">Matrix: 25 Mpx <br> Brand: Canon</p> -->
                            </figcaption>

                        </td>
                        <td> 
                            <figcaption class="info">
                                <a href="#" class="title text-dark">{{Bank.Phone_number}}</a>
                                <!-- <p class="text-muted small">Matrix: 25 Mpx <br> Brand: Canon</p> -->
                            </figcaption> <!-- col.// -->
                        </td>
                        <td> 
                            <div class="price-wrap"> 
                                <var class="price">{{Bank.Rate}}</var> 
                                <!-- <small class="text-muted"> $315.20 each </small>  -->
                            </div> <!-- price-wrap .// -->
                        </td>
                        <td> 
                            <div class="price-wrap"> 
                                <!-- <var class="price">Upto 15 Yrs And More Years</var>  -->
                                <small class="text-muted"> {{Bank.Tenure}} </small> 
                            </div> <!-- price-wrap .// -->
                        </td>
                        <td class="text-right"> 
                        <a href="" class=" login100-form-btn"> Calculate</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                    </div>
                    
                </div>
                    
                    </div>
                    </section>
			</div>

		</div>
	</div>
{% endblock %}}