{% extends 'dashboard/dashboard_head.html' %}
{% block content %}
{% load humanize%}
<head>
 
    <style>
        img {
      max-width: 100%;
      max-height: 100%;
     }
     .aside {
      height: 100px;
      width: 100px;
     }
    </style>

  </head>

        <!-- main -->
      
            <h3>Properties </h3>
            <hr>

                <!-- ============================ COMPONENT 1 ================================= -->
                
                <div class="row">
                <div class="card">
                <table class="table table-borderless">
                <thead class="text-muted">
                <tr class="small text-uppercase">
                  <th scope="col" width="120">Image</th>
                  <th scope="col" width="300">Title</th>
                  <th scope="col" width="150">Area(sq ft)</th>
                  <th scope="col" width="120">Category</th>
                  <th scope="col" width="250">Address</th>
                  <th scope="col" width="120">Price</th>
                  <th scope="col" class="text-center" width="200"> Update</th>
                  <th scope="col" class="text-center" width="200"> Remove</th>
                </tr>
                </thead>
                <tbody>
                {% for details in property%}
                <tr>
                    <td>
                        <figure class="itemside align-items-center">
                            <div class="aside"><img src="{{details.photo.url}}" class="img-rounded"></div>
                        </figure>
                    </td>
                    <td>
                        <figcaption class="info">
                            <a href="#" class="title text-dark">{{details.title}}</a>
                           
                        </figcaption>

                    </td>
                    <td> 
                        <small class="text-muted">{{details.area}}sq ft</small> 
                    </td>
                    <td>  
                        <samp class="text-muted">{{details.status}}</samp> 
                    </td>
                    <td> 
                        <p class="text-muted"> {{details.address}} </p> 

                    </td>
                    <td> 
                        <p class="text-muted"> ${{details.price|intcomma}}</p>
                    </td>
                    <td class="text-center"> 
                    <a href="{% url 'update' details.id %}" class="btn btn-info"> Update</a>
                    </td>
                    <td class="text-center"> 
                        <a href="{% url 'remove' details.id%}" class="btn btn-warning"> Remove</a>
                        </td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
            </div> 
        </div>
        <h3 class="text-right"><a href="/addproperty" class="btn btn-primary">Add Property</a></h3>

{% endblock content %}

